*{
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    width: 1170px;
    margin: 0 auto;
}

.menu_inner{
    margin: 0px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(177, 251, 226);
}
.logo img{
    width: 40%;
}
.nav {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
.nav li a {
    text-transform: uppercase;
    color: #072d1d;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 20px;
}
.nav li a:hover {
    background-color: #165049;
    color: white;
    border-radius: 5px;
}

.info_inner {
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(28, 71, 57);
}
.item_task1{
    padding: 0;
    margin: 0;
    text-align: center;
}
.number_task1{
    color: rgb(80, 175, 115);
    font-weight: 400;
    font-size: 30px;
    font-family: cursive;
}
.text_task1{
    color: white;
    text-transform: uppercase;
}
.number_task1:hover {
    transform: scale(1.35);
    color:rgb(218, 170, 48);
}

.box_inner {
    height: 300px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(116,88,16,1) 100%);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.item_task2 {
    text-align: center;
}
.number_task2 {
    padding-top: 10px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 30px;
}
.text_task2 {
    color: rgb(208, 181, 151);
    text-transform: uppercase;
    margin-bottom: 15px;;
}

.line {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 0 auto;
}
.item_task2 i.fa {
    font-size: 30px;
    color: rgb(208, 181, 151);
}

.complex_box_inner {
    height: 300px;
    background: rgb(54,195,156);
    background: linear-gradient(90deg, rgba(54,195,156,1) 0%, rgba(35,157,152,1) 44%, rgba(2,0,36,1) 100%);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.item_task3 {
    
    display: flex;
    align-items: center;
   /* text-align: center;  */

}
.icon3 i{
    font-size: 30px;
    color: rgb(251, 249, 246);
    padding-right: 10px;
}
.content{
    padding-left: 30px;
    text-align-last: left;
}
.number_task3 {
    color: white;
}
.text_task3 {
    text-transform: uppercase;
    color: white;
}



.box_with_text_and_icons_inner {
    text-align: center; 
} 
h1 {
    max-width: 740px;
    margin: 80px auto 30px;
    line-height: 45px;
    font-weight: normal;
}
.box_with_text_and_icons_inner p {
    max-width: 900px;
    margin: 0 auto 60px;
    line-height: 30px;
}
.icon-box {
    margin-bottom: 60px;
}
.icon-box i{
    font-size: 30px;
    color: rgb(7, 114, 82);
    margin: 0 50px;
}







.image img {
    width: 260px;
}
.text-content h2, .text-content p {
    color: #5e5e5e;
    line-height: 30px;
}
.box_with_text_icons_image_inner {
    display: flex;
    text-align: center; 
    align-items: center;
    margin: 0px 100px;
    border: 1px solid rgb(49, 158, 182);
}
.text-content {
    max-width: 500px;
    margin-right: 50px;
    text-align: justify;
   
}
.icons{
    background-color: rgb(227, 253, 253);
    background-color: rgb(227, 253, 253);
    border-radius: 45%;
}
.icons > div {

    width: 70px;
    height: 70px;
    border: 2px solid #096092;
    background-color: transparent;
    font-size: 35px;
    color: #096092;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    cursor: pointer;
    margin: 15px 0;
}
.icons > div:hover {
    background-color: #096092;
    color: #fff;
}